<div class="container animated fadeIn">
    <h1 class="text-center TypeLetter">Bienvenido</h1>
    <hr>
    <img src="https://firebasestorage.googleapis.com/v0/b/tienda-de-ropa-83583.appspot.com/o/Collection.jpeg?alt=media&token=8ae0203a-4c2f-4362-8a4b-d31452082084" class="img-fluid" alt="Responsive image">
    <h2 class="text-center TypeH2">¿A donde deseas ir?</h2>
    <div class="text-center">
        <button type="button" class="btn btn-outline-secondary zoom" [routerLink]="['/categoria']">Categoria</button>
        <button type="button" class="btn btn-outline-secondary zoom">Productos</button>
        <button type="button" class="btn btn-outline-secondary zoom">Tipo Empaque</button>
        <button type="button" class="btn btn-outline-secondary zoom">Tipo Registro</button>
        <button type="button" class="btn btn-outline-secondary zoom">Proveedores</button>
        <button type="button" class="btn btn-outline-secondary zoom">Compras</button>
        <button type="button" class="btn btn-outline-secondary zoom">Clientes</button>
    </div>

</div>