<nav class="navbar navbar-expand-lg navbar-dark bg-dark TypeLetter">
    <a class="navbar-brand" href="#">
        <img class="rounded-circle" src="assets/logo4.jpg" width="90" height="90" alt="">
    </a>
    <a class="navbar-brand" href="#">Inicio</a>
    <div class="collapse navbar-collapse TypeLetter" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li *ngIf="user" class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Catalogos
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" [routerLink]="['/categoria']">Categoria</a>
                    <a class="dropdown-item" [routerLink]="['/factura']">Factura</a>
                    <a class="dropdown-item" [routerLink]="['/categoria']">Producto</a>
                    <a class="dropdown-item" [routerLink]="['/categoria']">Tipo Empaque</a>
                    <a class="dropdown-item" [routerLink]="['/categoria']">Tipo Registro</a>
                    <a class="dropdown-item" [routerLink]="['/categoria']">Proveedores</a>
                    <a class="dropdown-item" [routerLink]="['/categoria']">Compras</a>
                    <a class="dropdown-item" [routerLink]="['/categoria']">Clientes</a>
                    <a class="dropdown-item" [routerLink]="['/usuario']">Usuarios</a>
                    <a class="dropdown-item" [routerLink]="['/rol']">Roles</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" *ngIf="!user" [routerLink]="['/login']">Login</a>
            </li>
            <li class="nav-item">
                <a (click)="logout()" *ngIf="user" class="nav-link">Logout</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>