<nav class="navbar navbar-expand-lg navbar-dark bg-dark TypeLetter">
    <a class="navbar-brand" href="#">Inicio</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse TypeLetter" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/categoria']">Categoria</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/factura']">Factura</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/categoria']">Producto</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/categoria']">Tipo Empaque</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/categoria']">Tipo Registro</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/categoria']">Proveedores</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/categoria']">Compras</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/categoria']">Clientes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/usuario']">Usuarios</a>
            </li>
            <li class="nav-item">
                  <a class="nav-link" [routerLink]="['/rol']">Roles</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/login']">Login</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>
