<head>Usuario</head>
<button [routerLink]="['/usuario']" class="btn btn-outline-primary">Regresar</button>
<hr>
<div class="row">
  <div class="col-md-12">
    <form (ngSubmit) = "guardar()" #forma = "ngForm">
      <div class="form-group">
        <label for="txtEmail">Email</label>
        <input placeholder="Email" name="txtEmail" [(ngModel)]="usuario.email" required class="form-control" id="txtEmail" type="text">
      </div>
      <div class="form-group">
        <button [disabled]= "!forma.valid" type="submit" class="btn btn-outline-primary">Guardar</button>
      </div>
    </form>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <form (ngSubmit) = "guardar()" #forma = "ngForm">
      <div class="form-group">
        <label for="txtNombre">Email</label>
        <input placeholder="Email" name="txtEmail" [(ngModel)]="usuario.email" required class="form-control" id="txtEmail" type="text">
      </div>
      <div class="form-group">
        <button [disabled]= "!forma.valid" type="submit" class="btn btn-outline-primary">Guardar</button>
      </div>
    </form>
  </div>
</div>
